{{ define "content"}}
<!-- Main component for a primary marketing message or call to action -->
<div class="container" id="crudContainer">
    <h1>{{`{{formtitle}}`}}</h1>
    <div id="postAlert"></div>
    <div id="formContainer">
    </div>
</div>
<link href="/media/css/datetimepicker.css" rel="stylesheet">
<style>
div.editor {
    margin: 0;
    height: 100%;
    color: #333;
    }
textarea, div.editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    max-height:500px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 20px;
    overflow: scroll; 
}

div.editor div img {
    max-width:100%;
}

textarea {
    border: none;
    min-height:440px;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
}

code {
    color: #f66;
}
</style>
<script src="/media/js/bootstrap-datetimepicker.js"></script>
<script src="/media/js/marked.min.js"></script>
<script src="/media/js/inline-attach.min.js"></script>
<script src="/media/js/jquery.inline-attach.min.js"></script>
<script src="/media/js/moment.min.js"></script>
<script src="/media/js/html.sortable.min.js"></script>
<script src="/media/js/admin.form.js"></script>
<script type="x-template" id="modelListSortable">
    <p><button class="btn btn-primary" id="SaveOrder" disabled="disabled" v-on="click: submitOrderUpdate">Save Order</button></p>
    <ul class="list-group sortable">
        <li v-repeat="items" class="list-group-item" data-order="{{`{{pageorder}}`}}" data-url="{{`{{url}}`}}">
        <span class="glyphicon glyphicon-move" style="color:#bbb;"></span>&nbsp;&nbsp;{{`{{title}}`}}
        </li>
    </ul>
</script>
<script type="x-template" id="modelListTable">
    <p><a href="#/{{`{{modelName}}`}}/create" class="btn btn-primary" id="createEntity">Create new entity</a></p>
    <table id="content-list-table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr v-repeat="items">
                <td>{{`{{title}}`}}</td>
                <td>{{`{{update | dateFormat }}`}}</td>
                <td><a class="btn btn-default btn-sm" href="#/{{`{{modelName}}`}}/update/{{`{{url}}`}}">Update</a></td>
                <td><button class="btn btn-danger btn-sm" v-on="click: deleteEntity">delete</button></td>
            </tr>
        </tbody>
    </table>
    <ul class="pager" id="pagination">
      <li v-if="previous != false"><a href="{{`{{previous}}`}}" id="previousButton">&laquo; Previous</a></li>
      <li v-if="next != false"><a href="{{`{{next}}`}}" id="nextButton">Next &raquo;</a></li>
    </ul>
</script>
<script type="x-template" id="modelForm">
    <form class="form-horizontal" role="form"  v-on="submit:submitUpdate">
        <div class="form-group" v-repeat="items">
            <label class="col-sm-2 control-label" for="f_{{`{{frmName}}`}}">{{`{{frmTitle}}`}}</label>
            <div class="col-sm-10" v-if="frmFormat == 'date-time'">
                <input type="text" class="form-datetime" name="{{`{{frmName}}`}}" id="f_{{`{{frmName}}`}}" v-model="frmValue | dateFormatUTC">
                <span>UTC Time</span>
            </div>
            <div class="col-sm-10" v-if="frmType == 'string' && frmMaxLength <= 500 && !frmFormat">
                <input type="text" class="form-control" name="{{`{{frmName}}`}}" id="f_{{`{{frmName}}`}}" v-model="frmValue" v-disable="frmName">
            </div>
            <div class="col-sm-10" v-if="frmType == 'integer'">
                <input type="number" class="form-control" name="{{`{{frmName}}`}}" id="f_{{`{{frmName}}`}}" v-model="frmValue">
            </div>
            <div class="col-sm-10" v-if="frmType == 'boolean'">
                <input type="checkbox" class="form-control" name="{{`{{frmName}}`}}" id="f_{{`{{frmName}}`}}" v-model="frmValue">
            </div>
            <div class="col-sm-10 editor" v-if="frmType == 'string' && !frmMaxLength && !frmFormat">
                <textarea name="{{`{{frmName}}`}}" id="f_{{`{{frmName}}`}}" v-model="frmValue"></textarea>
                <div v-html="frmValue | marked"></div>
            </div>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg active" id="submitButton">Submit</button>
            <button type="button" class="btn btn-default btn-lg active" v-on="click:cancel">Cancel</button>
        </div>
      </div>
    </form>
</script>
{{end}}
