{{ define "content"}}
<!-- Main component for a primary marketing message or call to action -->
<div class="container" id="crudContainer">
    <h1>{{`{{formtitle}}`}}</h1>
    <div id="formContainer">
    </div>
</div>
<script src="/media/js/admin.form.js"></script>
<script type="x-template" id="modelListTable">
    <p><a href="#/{{`{{modelName}}`}}/create" class="btn btn-primary">Create new entity</a></p>
    <table id="content-list-table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr v-repeat="items">
                <td>{{`{{title}}`}}</td>
                <td>{{`{{update | dateFormat }}`}}</td>
                <td><a href="#/{{`{{modelName}}`}}/update/{{`{{url}}`}}">Update</a></td>
                <td><a href="#/{{`{{modelName}}`}}/delete/{{`{{url}}`}}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</script>
<script type="x-template" id="modelForm">
    <form class="form-horizontal" role="form">
        <div class="form-group" v-repeat="items">
            <label class="col-sm-2 control-label" for="f_{{`{{name}}`}}">{{`{{title}}`}}</label>
            <div class="col-sm-10" v-if="type == 'string' && maxLength <= 500">
                <input type="text" class="form-control" name="{{`{{name}}`}}" id="f_{{`{{name}}`}}">
            </div>
            <div class="col-sm-10" v-if="type == 'integer'">
                <input type="number" class="form-control" name="{{`{{name}}`}}" id="f_{{`{{name}}`}}">
            </div>
            <div class="col-sm-10" v-if="type == 'boolean'">
                <input type="checkbox" class="form-control" name="{{`{{name}}`}}" id="f_{{`{{name}}`}}">
            </div>
            <div class="col-sm-10" v-if="type == 'string' && !maxLength">
                <textarea class="form-control" rows="3" name="{{`{{name}}`}}" id="f_{{`{{name}}`}}"></textarea>
            </div>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary btn-lg active">Submit</button>
            <button type="button" class="btn btn-default btn-lg active">Cancel</button>
        </div>
      </div>
    </form>
</script>
{{end}}
