{{ define "content"}}
<!-- Main component for a primary marketing message or call to action -->
<div class="topWrapper">
    <div class="topInside">
       <h1>
           Malt 
       </h1>
       <p>
       Malt is a web application starter template built on Google App Engine/Go(GAE/Go).
       </p>
       <p>
       GAE/Go is very powerful platform, and you can run your application in a minute.
       </p>
       <p>
       <a href="https://github.com/yosukesuzuki/go-malt" class="btn btn-success">github</a>
       <a href="" class="btn btn-default">more</a>
       </p>
       <a href="https://www.flickr.com/photos/joshua/2390963379/" target="_blank">Photo from flickr: Whisky / Joshua Rappeneker</a>
   </div>

</div>
<div class="container">
</div>
{{end}}
